:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

*, *::before, *::after {
  box-sizing: border-box; /* Apply border-box globally */
}

body {
  margin: 0;
  min-height: 100vh;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem; /* Reduced padding for smaller screens */
}

@media (min-width: 600px) {
  #root {
    padding: 2rem; /* Restore larger padding for larger screens */
  }
} 